{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav id="main-nav">
            <ul id="nav-list">
  
              <li><a href="#">Home</a></li>
                <li><a href="#">API Docs</a></li>
            </ul>
        </nav>
        <h1>Server Jars</h1>
        <p>Download the latest server jars here!</p>
    </header>
    {% block content %}
    <link rel="stylesheet" href="{% static 'frontend/css/styles.css' %}">
    {% endblock content%}
  
</body>
</html>
